
<%-include('parts/top.ejs')%>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form1Example1" name="email" class="form-control" placeholder="email"/>
          
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form1Example2" name="password" class="form-control" placeholder="password" />
         
        </div>
      
        <!-- 2 column grid layout for inline styling -->
        
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
      </form>
</div>
<%-include('parts/bottom.ejs')%>
